{% extends 'dash_emp/base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Manage Jobs</h4>

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Applicant Name</th>
                                <th>Score</th>
                                <th>Applied On</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for application in applications %}
                                <tr>
                                    <td>{{application.name}}</td>
                                    <td>{{application.score}}</td>
                                    <td>{{application.created_at}}</td>
                                    <td>
                                        <a href="{% url 'application' application.job.id application.id %}" class="btn btn-info btn-sm btn-fill">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
{% endblock %}