{% extends 'dash_can/base.html' %}

{% block content %}
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="header">
                    <h4 class="title">Add Experience & Projects</h4>
                </div>
                <div class="content">
                    <form method="POST">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>level</label>
                                    <select name="level" class="form-control" required>
                                        <option value="">-------Select------</option>
                                        <option value="1">Matriculate</option>
                                        <option value="2">Intermediate</option>
                                        <option value="3">Graduation</option>
                                        <option value="4">Post-Graduation</option>
                                        <option value="5">PHD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>College / University</label>
                                    <input type="text" class="form-control" placeholder="Collage/University" name="college" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Percentage obtained</label>
                                    <input type="number" class="form-control" name="percent" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Complition Date</label>
                                    <input type="date" class="form-control" name="completion_date" required>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Add Experience</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="header">
                    <h4 class="title">Experience</h4>
                </div>
                <div class="content">
                    {% for education in user.education_set.all %}
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>{{education.get_level_display}} - {{education.college}}</label>
                                <div>{{education.percent}}% (approx)</div>
                                <div>{{education.completion_date}}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'delete-education' education.id %}" class="btn btn-danger btn-fill btn-sm pull-right"><i class="fa fa-trash-o"></i></i></a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}