{% extends 'dash_can/base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Manage Jobs</h4>

                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                           <thead>
                                <th>Job Title</th>
                                <th>Deadline</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for job in jobs %}
                                <tr>
                                    <td>{{job.title}}</td>
                                    <td>{{job.deadline}}</td>
                                    <td>
                                        <a href="{% url 'job-detail' job.id %}" class="btn btn-info btn-sm btn-fill">Details</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'job-apply' job.id %}" class="btn btn-info btn-sm btn-fill">Apply</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody> 
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}