<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="//assets.ziggeo.com/v1-stable/ziggeo.css" />
    <script src="//assets.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "8cf4cb49773bee2142805c2352a510dc";</script>
    <title>Document</title>
</head>
<body>
    <ziggeo ziggeo-limit=5
        ziggeo-width=320
        ziggeo-height=240>
    </ziggeo>  
    <ziggeo ziggeo-video='590fdbc745d2e03c858b256a643ed9e7'
        ziggeo-width=320
        ziggeo-height=240>
    </ziggeo>
</body>
</html>